extends layouts/layout

block layout-content
  header
    h2 Welcome to NodeProject
  section
    div
      h3 What is NodeProject?
      p NodeProject is a small platform carried out as part of my studies. 