<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SquarePaint.io
  body
    h1 403. Forbidden.
    p This is the third floor... You should not be there...