<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SquarePaint.io
  body
    h1 404. Not Found.
    p There is nothing there... Maybe you should move on...