body {
  background-color: black;
  color: white;
}

a {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

input {
  margin-left: 8px;
}

.mosaic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: white;
  cursor: pointer;
}