/* 
* General
*/
:root {
  --color-bleen: #52dccd;
  --color-black: #252523;
  --color-grey: #767676;
}

body {
  display: flex;
  background: none;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
}

#app-nav {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-bleen);
}

.nav-link {
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  color: white;
}

.nav-link h1 {
  font-size: 30px;
  text-align: center;
  color: var(--color-bleen);
  margin-top: 10px;
  margin-bottom: 30px;
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-bleen);
}

main {
  flex: 7;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* 
* SquarePaint
*/

.home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 50px;
}

.home h3 {
  font-size: 18px;
  margin-bottom: 25px;
  color: var(--color-bleen);
}

.home section {
  width: 100%;
  line-height: 20px;
}

.home section:not(:last-of-type) {
  margin-bottom: 25px;
}

.home ul {
  list-style-type: square;
  margin-left: 30px;
}

/* 
* SquarePaint
*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

.paint {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.mosaic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: white;
  cursor: pointer;
}

.color {
  position: absolute;
  left: 25px;
  top: -15px;
}

#color-picker {
  margin-left: 8px;
}

/* 
* CinemArchive
*/
.nav-cinema {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-bleen);
  border-bottom: 1px solid var(--color-bleen);
  width: 100%;
}

.nav-cinema .nav-link {
  width: auto;
  font-size: 16px;
}

.films,
.distributors,
.categories {
  width: 100%;
}

.films h3,
.distributors h3,
.categories h3 {
  font-size: 18px;
  padding: 10px;
}

.filters {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label,
.select-page,
.current-page,
button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border: 1px solid white;
  color: white;
  background: none;
  padding: 8px;
  cursor: pointer;
  outline: none;
}

input[type="radio"]+label,
.select-page,
.current-page,
button:not(:last-child) {
  margin-right: 8px;
}

.pages-bottom {
  margin: 8px;
}

.filters>*>*:last-child,
.pages-bottom>*:last-child {
  margin: 0px;
}


input[type="radio"]:checked+label,
.current-page {
  border-color: var(--color-bleen);
  color: var(--color-bleen);
}

.limits,
.pages-top,
.filter_by {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages>div {
  display: flex;
  width: 232px;
  overflow: hidden;
}

.table {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.table-head,
.table-row {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid white;
}

.table-head span,
.table-row span {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.table-head span:not(:last-child),
.table-row span:not(:last-child) {
  border-right: 1px solid white;
}

.table-row a {
  color: white;
  border: 1px solid white;
  text-decoration: none;
  padding: 5px;
}

.table-row a:hover {
  color: var(--color-bleen);
  border-color: var(--color-bleen);
}

.table-head {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: var(--color-bleen);
}

.table-row:last-of-type {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* 
* CinemArchive - FilmID/DistributorID/CategoryID
*/

.film,
.distributor,
.category {
  box-sizing: border-box;
  display: flex;
  padding: 50px;
  width: 100%;
}

.film form,
.distributor form,
.category form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.film form>div:not(:last-of-type),
.distributor form>div:not(:last-of-type),
.category form>div:not(:last-of-type) {
  display: flex;
  flex-direction: row-reverse;
}

.film form input,
.film form textarea,
.film form select,
.distributor form input,
.distributor form textarea,
.distributor form select,
.category form input,
.category form textarea,
.category form select {
  flex: 3;
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}

.film form textarea {
  resize: none;
  box-sizing: border-box;
  min-height: 75px;
  height: auto;
  overflow: auto;
  border-left: 1px solid white;
}

.film form input:focus,
.film form textarea:focus,
.film form select:focus,
.distributor form input:focus,
.distributor form textarea:focus,
.distributor form select:focus,
.category form input:focus,
.category form textarea:focus,
.category form select:focus {
  outline: none;
  border-color: var(--color-bleen);
}

.film form label,
.distributor form label,
.category form label {
  flex: 1;
  margin-right: 20px;
}

.film .actions,
.distributor .actions,
.category .actions {
  display: flex;
  justify-content: flex-end;
}